global
    log         127.0.0.1 local2 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    log                     global

frontend kubernetes_api
    bind 0.0.0.0:6443
    default_backend kubernetes_api

backend kubernetes_api
    balance roundrobin
    option ssl-hello-chk
    server bootstrap bootstrap.apicdev.os.qa.bi.com.gt:6443 check
    server master01 master01.apicdev.os.qa.bi.com.gt:6443 check
    server master02 master02.apicdev.os.qa.bi.com.gt:6443 check
    server master03 master03.apicdev.os.qa.bi.com.gt:6443 check	

frontend machine_config
    bind 0.0.0.0:22623
    default_backend machine_config

backend machine_config
    balance roundrobin
    option ssl-hello-chk
    server bootstrap bootstrap.apicdev.os.qa.bi.com.gt:22623 check
    server master01	master01.apicdev.os.qa.bi.com.gt:22623 check
    server master02	master02.apicdev.os.qa.bi.com.gt:22623 check
    server master03	master03.apicdev.os.qa.bi.com.gt:22623 check

frontend router_https
    bind 0.0.0.0:443
    default_backend router_https

node01.apicdev.os.qa.bi.com.gt
backend router_https
    balance roundrobin
    option ssl-hello-chk
    server node01 node01.apicdev.os.qa.bi.com.gt:443 check
    server node02 node02.apicdev.os.qa.bi.com.gt:443 check
    server node03 node03.apicdev.os.qa.bi.com.gt:443 check
	
frontend router_http
    mode http
    option httplog
    bind 0.0.0.0:80
    default_backend router_http

backend router_http
    mode http
    balance roundrobin
    server node01 node01.apicdev.os.qa.bi.com.gt:80 check:80 check
    server node02 node02.apicdev.os.qa.bi.com.gt:80 check:80 check
    server node03 node03.apicdev.os.qa.bi.com.gt:80 check:80 check